.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    flex:1
}

.footer{
    
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-family: Sans-serif;
    font-weight: 900;
}

ul{
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Sans-serif;

}

.header, .footer{
    padding: 8px 120px;
}

.hero{
    padding: 80px 120px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:50%;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: 'Roboto',sans-serif;
}
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    font-family: Sans-serif;
}

.image{
    width: 400px;
    background-color: rgba(240, 248, 255, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-left: 20px;
}

.hero, .information, .quote{
    display: flex;
    flex: 1;
}

button{
    padding:5px 30px;
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 12px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
}

.information{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 900;
    color:#1F2937;
    padding:30px
}
.info-header{
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    height: 150px;
    width: 150px;
    border:#3882f6 solid;
    border-radius: 10%;
}
.description{
    font-weight: 400;
    font-size: 18px;
    width: 150px;
    text-align: center;
}
.quote-section{
    padding: 80px 140px;
   background-color: #e5e7eb; 
   display: flex;
   justify-content: center;
   align-items: center;

}
.quote-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: #1f2937;
}
.speaker{
    align-self: end;
    font-weight: bolder;
}
.footer{
    min-height: 70px;
    color: #E5E7EB;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}