.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    flex:1
}

.footer{
    border: 1px solid green;
    
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-family: Sans-serif;
    font-weight: 900;
}

ul{
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Sans-serif;

}

.header, .footer{
    padding: 8px 120px;
}

.hero{
    padding: 80px 120px;
    display: flex;
    background-color: #1F2937;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width:50%;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: sans-serif;
}
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    font-family: Sans-serif;
}

.image{
    height: 100%;
    width:50%;
    background-color: rgba(240, 248, 255, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

.hero, .information, .quote{
    display: flex;
    flex: 1;
}

button{
    padding:5px 30px;
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 12px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
}